# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_0tdmm6rwW3KquQ73ATYYJ5JkpMtvbppJ0VzA2GExdA_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_2cyV53lVyUtlMj0BRwilEWtYJwUiviYoL48cZBPBq0_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_2J22RukYnEbKTk7t+iUVDBkorcyL5NKN6TrLe89ys_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_7EYF5I04EVqisUJCVNHlqn77UAuOmwL2Dahxd3cA_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_ae4JJBZDycEcY8McJF+3BxyvZ1619y03BNdCxzpZTc_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_Ch3u5Oaz96VSrQbf0z31X6jEIbeIekkC0mwPzCdeJ1U_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_CH8f0yZkZL13zWuE9ks1CkVJRVrr+jsGdUXHrZ6YeA_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_DHO1K4jgiwZJOfQTrxvKE2vn7hkjamigroGD5IaeRc_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_DHPqzSqSttiba1L3BD1cptNJPjSxZ8rXxF9mY3za6WA_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_dQEFscjqnIlug8Tgq97JohhSQPG2DEOWJqS86wCrcY_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_HFvs2CohmhHte+AaCzFasjzegGzxZKPhkrX23iI6Xo_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_jgB9E8v3Z6PKdTRTCMAijBllA9YEMtrmHbe4qsbmJWw_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_JkY++R7E8myldLN3on6iQ78Ee78zCbrLuggfwGju3I_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_K4SLohf+TN1Ak8Dn8iE3Lme7rEMPISfppB2sXfHX8_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_oGaWetJJJEWHuvYdWYo826SQxfhCExVVQ2da8LE1Y7Q_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_pyt24oiDAHsmgWMvkFKz2fn2pwcHiXchd6KchLM_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_PZCf1nfvhR+6fk+7+sPNMYOgb8BAMmtQtfoRS83Suc_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_QUNCATForxzK0HHw46LrGOMWh0eVA8Y5XWEiUXX+cQ_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_rIl2UK9+bQ+tzpFdbJAdbBxEa5GbgrgC030yEaENLw_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_RoBW3cDOO9wWRMPO2twQff83MPc+OXn6gJ+a1DafreI_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_SH3kQeyd5volraxw8vOyhlowNqWBPr1IJ9URNXUL4_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_VVpwFNMrEglveh6MDN8lrRzTy5OwzglD4FURfM4A2is_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_Wa1mcNmbh66S7VS6GIzyfCFMD3SGhbtDQyFP1ywJEsw_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_XCKRE0BWRHxfP1kZIihgtT+jUjSp2GE8v5ZlhcIhVmA_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_YI5Y79K6GXqAUoGP6PNyII8WKlAoel4urDxWSVVOvBw_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_ypklj+8GJ15rOIH1lpKQtFJOuK+VdvyCuBPqhY3aoM_treated.csv
ISABELA_flower/scripts/data_2019_processed/form/sleep_form_ZSsAZ0Pq+MCqFrnjsRFn5Ua09pMCVaOV9c8ZuYb7XQY_treated.csv
ISABELA_flower/scripts/data_2019_processed/student_0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs.csv
ISABELA_flower/scripts/data_2019_processed/student_0Jf4TH9Zzse0Z1Jjh7SnTOe2MMzeSnFi7feTnkG6vgs_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_0tdmm6rwW3KquQ73ATYYJ5JkpMtvbppJ0VzA2GExdA.csv
ISABELA_flower/scripts/data_2019_processed/student_0tdmm6rwW3KquQ73ATYYJ5JkpMtvbppJ0VzA2GExdA_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_2cyV53lVyUtlMj0BRwilEWtYJwUiviYoL48cZBPBq0.csv
ISABELA_flower/scripts/data_2019_processed/student_2cyV53lVyUtlMj0BRwilEWtYJwUiviYoL48cZBPBq0_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_2J22RukYnEbKTk7t+iUVDBkorcyL5NKN6TrLe89ys.csv
ISABELA_flower/scripts/data_2019_processed/student_2J22RukYnEbKTk7t+iUVDBkorcyL5NKN6TrLe89ys_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_7EYF5I04EVqisUJCVNHlqn77UAuOmwL2Dahxd3cA.csv
ISABELA_flower/scripts/data_2019_processed/student_7EYF5I04EVqisUJCVNHlqn77UAuOmwL2Dahxd3cA_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4.csv
ISABELA_flower/scripts/data_2019_processed/student_a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_ae4JJBZDycEcY8McJF+3BxyvZ1619y03BNdCxzpZTc.csv
ISABELA_flower/scripts/data_2019_processed/student_ae4JJBZDycEcY8McJF+3BxyvZ1619y03BNdCxzpZTc_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_Ch3u5Oaz96VSrQbf0z31X6jEIbeIekkC0mwPzCdeJ1U.csv
ISABELA_flower/scripts/data_2019_processed/student_Ch3u5Oaz96VSrQbf0z31X6jEIbeIekkC0mwPzCdeJ1U_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_CH8f0yZkZL13zWuE9ks1CkVJRVrr+jsGdUXHrZ6YeA.csv
ISABELA_flower/scripts/data_2019_processed/student_CH8f0yZkZL13zWuE9ks1CkVJRVrr+jsGdUXHrZ6YeA_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_DHO1K4jgiwZJOfQTrxvKE2vn7hkjamigroGD5IaeRc.csv
ISABELA_flower/scripts/data_2019_processed/student_DHO1K4jgiwZJOfQTrxvKE2vn7hkjamigroGD5IaeRc_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_DHPqzSqSttiba1L3BD1cptNJPjSxZ8rXxF9mY3za6WA.csv
ISABELA_flower/scripts/data_2019_processed/student_DHPqzSqSttiba1L3BD1cptNJPjSxZ8rXxF9mY3za6WA_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_dQEFscjqnIlug8Tgq97JohhSQPG2DEOWJqS86wCrcY.csv
ISABELA_flower/scripts/data_2019_processed/student_dQEFscjqnIlug8Tgq97JohhSQPG2DEOWJqS86wCrcY_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_HFvs2CohmhHte+AaCzFasjzegGzxZKPhkrX23iI6Xo.csv
ISABELA_flower/scripts/data_2019_processed/student_HFvs2CohmhHte+AaCzFasjzegGzxZKPhkrX23iI6Xo_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_jgB9E8v3Z6PKdTRTCMAijBllA9YEMtrmHbe4qsbmJWw.csv
ISABELA_flower/scripts/data_2019_processed/student_jgB9E8v3Z6PKdTRTCMAijBllA9YEMtrmHbe4qsbmJWw_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_JkY++R7E8myldLN3on6iQ78Ee78zCbrLuggfwGju3I.csv
ISABELA_flower/scripts/data_2019_processed/student_JkY++R7E8myldLN3on6iQ78Ee78zCbrLuggfwGju3I_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_K4SLohf+TN1Ak8Dn8iE3Lme7rEMPISfppB2sXfHX8.csv
ISABELA_flower/scripts/data_2019_processed/student_K4SLohf+TN1Ak8Dn8iE3Lme7rEMPISfppB2sXfHX8_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_oGaWetJJJEWHuvYdWYo826SQxfhCExVVQ2da8LE1Y7Q.csv
ISABELA_flower/scripts/data_2019_processed/student_oGaWetJJJEWHuvYdWYo826SQxfhCExVVQ2da8LE1Y7Q_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_pyt24oiDAHsmgWMvkFKz2fn2pwcHiXchd6KchLM.csv
ISABELA_flower/scripts/data_2019_processed/student_pyt24oiDAHsmgWMvkFKz2fn2pwcHiXchd6KchLM_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_PZCf1nfvhR+6fk+7+sPNMYOgb8BAMmtQtfoRS83Suc.csv
ISABELA_flower/scripts/data_2019_processed/student_PZCf1nfvhR+6fk+7+sPNMYOgb8BAMmtQtfoRS83Suc_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_QUNCATForxzK0HHw46LrGOMWh0eVA8Y5XWEiUXX+cQ.csv
ISABELA_flower/scripts/data_2019_processed/student_QUNCATForxzK0HHw46LrGOMWh0eVA8Y5XWEiUXX+cQ_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_rIl2UK9+bQ+tzpFdbJAdbBxEa5GbgrgC030yEaENLw.csv
ISABELA_flower/scripts/data_2019_processed/student_rIl2UK9+bQ+tzpFdbJAdbBxEa5GbgrgC030yEaENLw_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_RoBW3cDOO9wWRMPO2twQff83MPc+OXn6gJ+a1DafreI.csv
ISABELA_flower/scripts/data_2019_processed/student_RoBW3cDOO9wWRMPO2twQff83MPc+OXn6gJ+a1DafreI_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_SH3kQeyd5volraxw8vOyhlowNqWBPr1IJ9URNXUL4.csv
ISABELA_flower/scripts/data_2019_processed/student_SH3kQeyd5volraxw8vOyhlowNqWBPr1IJ9URNXUL4_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_VVpwFNMrEglveh6MDN8lrRzTy5OwzglD4FURfM4A2is.csv
ISABELA_flower/scripts/data_2019_processed/student_VVpwFNMrEglveh6MDN8lrRzTy5OwzglD4FURfM4A2is_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_Wa1mcNmbh66S7VS6GIzyfCFMD3SGhbtDQyFP1ywJEsw.csv
ISABELA_flower/scripts/data_2019_processed/student_Wa1mcNmbh66S7VS6GIzyfCFMD3SGhbtDQyFP1ywJEsw_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_XCKRE0BWRHxfP1kZIihgtT+jUjSp2GE8v5ZlhcIhVmA.csv
ISABELA_flower/scripts/data_2019_processed/student_XCKRE0BWRHxfP1kZIihgtT+jUjSp2GE8v5ZlhcIhVmA_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_YI5Y79K6GXqAUoGP6PNyII8WKlAoel4urDxWSVVOvBw.csv
ISABELA_flower/scripts/data_2019_processed/student_YI5Y79K6GXqAUoGP6PNyII8WKlAoel4urDxWSVVOvBw_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_ypklj+8GJ15rOIH1lpKQtFJOuK+VdvyCuBPqhY3aoM.csv
ISABELA_flower/scripts/data_2019_processed/student_ypklj+8GJ15rOIH1lpKQtFJOuK+VdvyCuBPqhY3aoM_transformed.csv
ISABELA_flower/scripts/data_2019_processed/student_ZSsAZ0Pq+MCqFrnjsRFn5Ua09pMCVaOV9c8ZuYb7XQY.csv
ISABELA_flower/scripts/data_2019_processed/student_ZSsAZ0Pq+MCqFrnjsRFn5Ua09pMCVaOV9c8ZuYb7XQY_transformed.csv
detect_mask/data/train
detect_mask/data/test
detect_mask/codigos
detect_mask/data/with_mask
detect_mask/data/without_mask
detect_mask/mask_detector_model
detect_mask_flower
detect_mask_maiu
detect_mask_xamarin

android/apk/download_apk.sh
detect_mask/android_local.zip
detect_mask/códigos-20230720T211644Z-001.zip
detect_mask/exp-20230720T211424Z-001.zip
detect_mask/mask_detector_h5.model
